.bg-login {
  background-image: url("https://img.freepik.com/free-vector/young-people-standing-talking-each-other-speech-bubble-smartphone-girl-flat-vector-illustration-communication-discussion_74855-8741.jpg?w=2000&t=st=1705181387~exp=1705181987~hmac=dceff79143ee1c4dbf2f7a29337b19f724db554c26f4f9776b4340d51c7321ab");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
